<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tirdis.watchorread" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".ApplicationController"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".PickLangActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarSplashTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".ArticleViewActivity"
            android:label="@string/title_activity_article_view"
            android:configChanges="orientation|screenSize"
            android:theme="@style/NoActionBarSplashTheme" >

        </activity>
        <activity
            android:name=".CategoryActivity"
            android:label="@string/title_activity_category"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarSplashTheme" >
        </activity>
        <activity
            android:name=".PickDateActivity"
            android:label="@string/title_activity_pick_date"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarSplashTheme" >
        </activity>
        <activity
            android:name=".HelpActivity"
            android:label="@string/title_activity_help"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarSplashTheme" >
        </activity>
        <activity
            android:name=".MenuActivity"
            android:label="@string/title_activity_menu"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarSplashTheme" >
        </activity>

    </application>

</manifest>
